@charset "UTF-8";
/*
  CSS3多栏布局
  --
  相关属性:
    设置分栏数: column-count
    设置单栏宽度: column-width
    设置栏间隔: column-gap
    设置分割线: column-rule
*/
/* line 15, ../sass/css3.scss */
p[id*="-content-"] {
  -webkit-column-width: 12em;
  -moz-column-width: 12em;
  column-width: 12em;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
  column-rule: thin dotted #999;
}

/*
  CSS3文字换行
  --
  属性:
    word-wrap: break-word
*/
/* line 30, ../sass/css3.scss */
p[id^="my-content"] {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

/*
  CSS3新增选择器
  --
  1.CSS3属性选择器
  ----
    CSS3子字符串匹配属性选择器
    三类:以特定前缀开头 Element[attribute ^= "value"]
        包含特定字符串的 Element[attribute *= "value"]
        以特定后缀结尾的 Element[attribute $= "value"]
*/
/* line 44, ../sass/css3.scss */
p[id^="my-"] {
  color: #781421;
}

/*
  CSS3结构伪类
  --
  1. last-child选择器
  2. nth-child选择器
  3. nth-last-child选择器
  4. nth-of-type选择器
  5. not选择器
  6. 伪元素的修正: ::first-line ::first-letter
*/
/* line 57, ../sass/css3.scss */
header p:last-child {
  color: #779307;
}

/* line 60, ../sass/css3.scss */
nav {
  display: table;
}

/* line 63, ../sass/css3.scss */
nav ul {
  display: table-row;
  border: 0.1em solid #23e878;
}

/* line 67, ../sass/css3.scss */
nav ul li {
  display: table-cell;
  width: 5em;
  border-top: 0.2em solid #23e878;
  border-bottom: 0.2em solid #23e878;
}
/* line 72, ../sass/css3.scss */
nav ul li:last-child {
  text-align: right;
  border-right: 0.2em solid #23e878;
}
/* line 76, ../sass/css3.scss */
nav ul li:first-child {
  text-align: left;
  border-left: 0.2em solid #23e878;
}
/* line 80, ../sass/css3.scss */
nav ul li a {
  text-decoration: none;
  color: #d3ff76;
}
/* line 84, ../sass/css3.scss */
nav ul li.me:nth-of-type(2n+1) a {
  color: #781421;
}
/* line 87, ../sass/css3.scss */
nav ul li:not(.me) a {
  color: #00e8f8;
}

/* line 91, ../sass/css3.scss */
p::first-letter {
  font-size: 2em;
}

/* line 94, ../sass/css3.scss */
p::first-line {
  color: #00e8f8;
}

/*
  CSS3自定义字体
  --
  @font-face {
    font-family: "font-name";
    src: url(*.eot);
    src: url(*.eot?#iefix) format('embedded-opentype'),
         url(*.woff) format('woff'),
         url(*.ttf) format('truetype'),
         url(*.svg#BebasNeueRegular) format('svg');
    font-weight: normal;
    font-style: normal;
  }
*/
@font-face {
  font-family: "Bebas";
  src: url("fonts/BebasNeue Book.otf");
  src: url("fonts/BebasNeue Book.ttf");
  font-weight: normal;
  font-style: normal;
}
/* line 118, ../sass/css3.scss */
p::first-line {
  font-family: "Bebas";
}

/*
  CSS3更多特性
  --
  text-shadow
  box-shadow
  linear-gradient()
  radial-gradient()
  repeating-linear-gradient()重复径向渐变
  repeating-radial-gradient()
  背景图案渐变
*/
/*
  多重背景图片
  --
  background:
    url('1.png'),
    url('2.png'),
    url('3.png');
    排在最前面的背景会再最上面
    background-size
    background-position
*/
/*
  CSS3过渡,变形,动画
  --
  transition:
    - transition-property: 要过渡的CSS属性名称
    - transition-duration: 过渡持续时间
    - transition-timing-function: 过渡期间速度变化函数[ease ease-in ease-out ease-in-out linear cubic-bezier]
    - transition-delay: 过渡开始前的延迟时间

    过渡时间段内过渡不同属性
    transition-property: border, color, text-shadow;
    transition-duration: 2s, 3s, 8s
  --
  transform:
    - scale: 缩放
    - translate: 移动 x,y表示向右向上移动多少像素
    - rotate: 旋转
    - skew: 斜切
    - matrix: 以像素精度控制变形
*/
/* line 166, ../sass/css3.scss */
footer a {
  display: block;
  content: '.';
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 3em;
  height: 3em;
  background-color: #00e8f8;
  text-decoration: none;
  text-align: center;
  padding-top: 2.5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  -webkit-transition: all 1s ease;
  -webkit-transition-delay: 0s;
  transition: all 1s ease 0s;
  -moz-animation: haha 1.5s infinite ease-in;
  -webkit-animation: haha 1.5s infinite ease-in;
  animation: haha 1.5s infinite ease-in;
}
/* line 180, ../sass/css3.scss */
footer a:hover {
  background-color: #ef9434;
  border-radius: 50%;
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  /*@include transform(scale(2));
  @include transform(translate(200px, 0px));
  @include transform(rotate(20deg));
  @include transform(skew(10deg, 2deg));*/
}

@-webkit-keyframes haha {
  0% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  50% {
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -moz-border-radius: 25%;
    -webkit-border-radius: 25%;
    border-radius: 25%;
  }
  50% {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
}
/* line 204, ../sass/css3.scss */
.no-csstransforms3d footer {
  display: none;
}
