@import "compass";
@import "partials/variables";
$column-gap: 2em;
$column-rule: thin dotted #999;
$column-width: 12em;
/*
  CSS3多栏布局
  --
  相关属性:
    设置分栏数: column-count
    设置单栏宽度: column-width
    设置栏间隔: column-gap
    设置分割线: column-rule
*/
p[id *= "-content-"] {
  -webkit-column-width: $column-width;
  -moz-column-width: $column-width;
  column-width: $column-width;
  -webkit-column-gap: $column-gap;
  -moz-column-gap: $column-gap;
  column-gap: $column-gap;
  column-rule: $column-rule;
}
/*
  CSS3文字换行
  --
  属性:
    word-wrap: break-word
*/
p[id ^= "my-content"] {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
/*
  CSS3新增选择器
  --
  1.CSS3属性选择器
  ----
    CSS3子字符串匹配属性选择器
    三类:以特定前缀开头 Element[attribute ^= "value"]
        包含特定字符串的 Element[attribute *= "value"]
        以特定后缀结尾的 Element[attribute $= "value"]
*/
p[id ^= "my-"] {
  color: $color1;
}
/*
  CSS3结构伪类
  --
  1. last-child选择器
  2. nth-child选择器
  3. nth-last-child选择器
  4. nth-of-type选择器
  5. not选择器
  6. 伪元素的修正: ::first-line ::first-letter
*/
header p:last-child {
  color: $color8;
}
nav {
  display: table;
}
nav ul {
  display: table-row;
  border: .1em solid $color4;
}
nav ul li {
  display: table-cell;
  width: 5em;
  border-top: .2em solid $color4;
  border-bottom: .2em solid $color4;
  &:last-child {
    text-align: right;
    border-right: .2em solid $color4;
  }
  &:first-child {
    text-align: left;
    border-left: .2em solid $color4;
  }
  a {
    text-decoration: none;
    color: $color3;
  }
  &.me:nth-of-type(2n+1) a{
    color: $color1;
  }
  &:not(.me) a{
    color: $color5;
  }
}
p::first-letter {
  font-size: 2em;
}
p::first-line {
  color: #00e8f8;
}
/*
  CSS3自定义字体
  --
  @font-face {
    font-family: "font-name";
    src: url(*.eot);
    src: url(*.eot?#iefix) format('embedded-opentype'),
         url(*.woff) format('woff'),
         url(*.ttf) format('truetype'),
         url(*.svg#BebasNeueRegular) format('svg');
    font-weight: normal;
    font-style: normal;
  }
*/
@font-face {
  font-family: "Bebas";
  src: url('fonts/BebasNeue Book.otf');
  src: url('fonts/BebasNeue Book.ttf');
  font-weight: normal;
  font-style: normal;
}
p::first-line {
  font-family: "Bebas";
}
/*
  CSS3更多特性
  --
  text-shadow
  box-shadow
  linear-gradient()
  radial-gradient()
  repeating-linear-gradient()重复径向渐变
  repeating-radial-gradient()
  背景图案渐变
*/
body {
  //background: repeating-linear-gradient(180deg, #ffffff 0px, lighten($color5, 30%) 5px);
}
/*
  多重背景图片
  --
  background:
    url('1.png'),
    url('2.png'),
    url('3.png');
    排在最前面的背景会再最上面
    background-size
    background-position
*/
/*
  CSS3过渡,变形,动画
  --
  transition:
    - transition-property: 要过渡的CSS属性名称
    - transition-duration: 过渡持续时间
    - transition-timing-function: 过渡期间速度变化函数[ease ease-in ease-out ease-in-out linear cubic-bezier]
    - transition-delay: 过渡开始前的延迟时间

    过渡时间段内过渡不同属性
    transition-property: border, color, text-shadow;
    transition-duration: 2s, 3s, 8s
  --
  transform:
    - scale: 缩放
    - translate: 移动 x,y表示向右向上移动多少像素
    - rotate: 旋转
    - skew: 斜切
    - matrix: 以像素精度控制变形
*/
footer a {
  display: block;
  content: '.';
  @include box-sizing(border-box);
  width: 3em;
  height: 3em;
  background-color: $color5;
  text-decoration: none;
  text-align: center;
  padding-top: 2.5em;
  @include border-radius(5px);
  //@include box-shadow(1px 1px 2px $color4);
  @include transition(all 1s ease 0s);
  @include animation(haha 1.5s infinite ease-in);
  &:hover {
    background-color: complement($color6);
    border-radius: 50%;
    @include transform(rotateY(180deg));
    /*@include transform(scale(2));
    @include transform(translate(200px, 0px));
    @include transform(rotate(20deg));
    @include transform(skew(10deg, 2deg));*/
  }
}
@-webkit-keyframes haha {
  0% {
    @include transform(rotateY(0deg));
    @include border-radius(5px);
  }
  50% {
    @include transform(rotateY(90deg));
    @include border-radius(25%);
  }
  50% {
    @include transform(rotateY(180deg));
    @include border-radius(50%);
  }
}
.no-csstransforms3d footer {
  display: none;
}